$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-shadow: #00000029;
$color-dark-shadow: #07ACE629;
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-grey: #A5A5A5;
$color-light-grey: #f7f7f7;
$color-white: #FFFFFF;
$color-dark-border: #95989A;
$color-border: #E8E9ED;

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Open Sans', sans-serif;


