.footer {
  box-shadow: 0 -5px 40px $color-shadow;
  background-color: $color-light-grey;

}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 21px 0 17px;
}

.logo>a {
  font-size: 2.6rem;
  line-height: 3rem;
  font-weight: 300;
  color: $color-primary;
  text-decoration: none;
  margin-bottom: 6px;

}

.logo p {
  font-family: $font-secondary;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font: 400px;
  color: $color-grey;
}

.media {
  display: flex;
  margin-top: 35px;
}

.media>a {
  margin-left: 20px;
}

.media img {
  width: 24px;
  height: 24px;
}