.pricing .container{
  padding: 50px 18px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-title{
  font-family: $font-primary;
  font-size: 3.6rem;
  line-height: 4.2rem;
  margin-bottom: 14px;
  font-weight: 400;
  
}
.pricing-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop(800px){
    flex-direction: row;
    justify-content: center;
    .professional-box{
      margin: 50px 58px;
    }
    .pricing-card{
      flex-direction: column;
      justify-content: center;
    }
    .price{
      margin: 34px auto;
    }
    .basic-list{
      margin: 61px auto 33px;
      text-align: center;
    }
    .professional-list{
      margin: 69px auto 30px;
      text-align: center;
    }
    .premium-list{
      margin: 50px auto 30px;
      text-align: center;
    }
  }
}

.pricing-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 18px;
  
}
.basic-box{
  border: 1px solid $color-redish;
  min-width: 293px;
  @media screen and (min-width: 600px){
    min-width: 400px;
  }
  @include desktop(800px){
    min-width: 190px;
  }
  @include desktop (1300px){
    min-width: 372px;
  }
}
.pricing-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.price{
  display: flex;
  flex-direction: column;
  align-items: center;
  h4{
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
  }
  p{
    font-size: 4.6rem;
    line-height: 6.4rem;
    font-family: $font-secondary;
    font-weight: 300;
    
  }
}

.price-basic{
  margin: 70px 0 0 45px;
  p{
    color: $color-redish;
  }
}
.pricing-list{
  margin: 25px 11px 0 0;
  li{
    font-family: $font-secondary;
    font-size: 1.4rem;
    line-height: 4.1rem;
    font-weight: 400;
    &::before{
      content: url(/assets/Ckechmark-1.svg);
      margin-right: 13px;
    }
  }
}

.basic-list{
  li{
    &:nth-of-type(n+4)::before{
      content: url(/assets/Close.svg);
    }
  }
}

.pricing-btn{
  font-family: $font-secondary;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: $color-white;
  padding: 16px 57px;
  border-radius: 23px;
  text-decoration: none;
  position: relative;
  transform: translateY(50%);
}
.redish-btn{
  background: $color-redish;
  
}
.professional-box{
  border: 1px solid $color-primary;
  margin: 54px auto;
  min-width: 339px;
  box-shadow: 5px 10px 27px #07ACE629;
  @media screen and (min-width: 600px) and (max-width: 799px){
    min-width: 444px;
  }
  @include desktop(800px){
    min-width: 234px;
  }
  @include desktop (1300px){
    min-width: 405px;
  }
}
.price-offer{
  font-family: $font-primary;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: $color-black;
}
.price-professional{
  margin: 91px 0 0 28px;

  p{
    color: $color-primary;
  }
  .price-offer{
    font-family: $font-primary;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
    color: $color-black;
  }
}

.professional-list{
  margin: 51px 41px 0 0;
  li{
    &:last-of-type::before{
      content: url(/assets/Close.svg);
    }
  }
}
.blue-btn{
  background: $color-primary;
}

.premium-box{
  border: 1px solid $color-green;
  min-width: 293px;
  @media screen and (min-width: 600px){
    min-width: 400px;
  }
  @include desktop(800px){
    min-width: 190px;
  }
  @include desktop (1300px){
    min-width: 372px;
  }
}

.price-premium{
  margin: 70px 0 0 31px;
  p{
    color: $color-green;
  }
  .price-offer{
    font-family: $font-primary;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
    color: $color-black;
  }
}
.green-btn{
  background: $color-green;
  
}