.calc {
  padding: 80px 0;
  background-color: $color-light-grey;
  @include desktop() {
    padding: 30px 15px;
  }
  h2 {
    font-family: $font-primary;
    font-size: 3.6rem;
    line-height: 4.2rem;
    font-weight: 400;
    margin: 50px 0 25px;
    text-align: center;
  }
  &-columns {
    max-width: 865px;
    margin: 50px auto 0;
    display: block;
    @include desktop() {
      display: flex;
    }
  }
  &-form {
    width: 100%;
    margin-right: 20px;
    @include desktop() {
      width: 50%;
      margin-right: 0;
    }

  }
  &-input input,
  &-select .select-input {
    color: $color-grey;
    width: 100%;
    border-radius: 6px;
    border: 1px solid $color-primary;
    padding: 12px 20px ;
    line-height: 1.8rem;
    font-size: 1.3rem;
    box-shadow: 0px 3px 6px $color-primary-shadow;
    margin-bottom: 20px;
    background-color: $color-white;
  }
  &-input {
    input {
      &::placeholder {
        font-family: $font-secondary;
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-weight: 400;
        color: $color-grey;
      }
    }
  }
  &-select {
    position: relative;
    .select-input {
      position: relative;
      //height: 40px;
      vertical-align: middle;
      padding: 13px 20px;
      cursor: pointer;
      font-family: $font-secondary;
      font-size: 1.3rem;
      line-height: 1.8rem;
      font-weight: 400;
      color: $color-grey;
      &::after {
        content: "";
        background-image: url("./assets/Arrow Down.svg");
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        right: 14px;
        top: 9px;
        z-index: -1;
      }
    }
    .select-dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: white;
      width: 100%;
      border-radius: 6px;
      border: 1px solid $color-redish;
      overflow: hidden;
      li {
        font-size: 13px;
        padding: 10px 20px;
        cursor: pointer;
        &:hover {
          background-color: $color-light-grey;
        }
      }
    }
    &.open {
      .select-input::after {
        transform: rotate(180deg);
      }
      .select-dropdown {
        display: block;
      }
    }
  }
  .form-checkbox {
    .consent-text {
      padding-top: 4px;
    }
  }
  &-summary {
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    @include desktop() {
      width: 50%;
      margin-left: 0;
      margin-top: 30px;
    }
    .summary-total,
    .list-item {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
      border-radius: 6px;
      justify-content: space-between;
      align-items: center;
      color: $color-white;
      font-size: 0.875rem;
      display: none;
      &.open {
        display: flex;
      }
    }
    .summary-total {
      width: 50%;
      align-self: flex-end;
      margin-top: 22px;
      padding: 8px 20px;
      background-color: $color-primary;
      .total-price {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
    .list-item {
      padding: 6px 20px;
      background-color: $color-green;
      margin-bottom: 8px;
      .item {
        &-price {
          font-weight: 700;
          font-size: 1.125rem;
        }
      }
    }
  }
}
